<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/head :: head('Forgot Password')"></div>
</head>
<body class="d-flex flex-column h-100">

	
	<div th:replace="fragments/navbar :: navbar-content"></div>
	
	
	<div class="wrapper m-5 min-vh-100">
	
		<!-- Page Content  -->
        <div id="content m-2">
        	
        	<div class="container">
        		<div class="text-center">
        			<h2>Forgot Password</h2>
        		</div>
        		
				<form th:action="@{/password/forgotPassword}" method="post" style="margin: 0 auto;">
					
					<div class="border border-secondary border-4 rounded ps-5 pe-5 bg-light bg-gradient">
						
						<div class="mt-5">
							<p>A reset password link will be sending to your email.</p>
						</div>
						
						<div class="form-group row">
							<label for="emailInput" class="col-form-label mt-2 fw-bold">Enter Your Email : </label> 
							<input type="email" name="email" class="form-control" id="emailInput" placeholder="Enter your E-mail" required autofocus>
						</div>
						
						
						<div class="text-center p-3">
							<input type="submit" class="btn btn-dark" value="Send">
						</div>
					</div>
					
				</form>
				
        	</div>       
			                    
        </div>
		
	</div>

	<div th:replace="fragments/footer :: footer"></div>
	
	<!-- Start Scroll To Top Section -->
    <div class="scroll-top">
        <i class="fas fa-chevron-up fa-3x scroll-icon"></i>
    </div>
	
	
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/PNotify.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	
	<script type="text/javascript">
		
		var contextPath = "[[@{/}]]";
	
		
	
		$(document).ready(function() {
			
			var message = "[[${message}]]";
	        if(message != null && message != ''){
	        	showStackBarTop('success', "Email Sent", message);
	        }
	        
			var error = "[[${error}]]";
	        if(error != null && error != ''){
	        	showStackBarTop('error', "Error !", error);
	        }
			
			
		});
		
	
	</script>
</body>
</html>