<div th:fragment="head(title)" th:remove="tag">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<title>[[${title}]] - [[${SITE_NAME}]]</title>

	<link rel="icon" th:href="@{/img/favicon.ico}"  type="image/x-icon">
	
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/footerStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/PNotify.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/BrightTheme.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/navbarStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/profile-dropdown.css}">
</div>