 /* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
	div.less-details{display: block;}
	div.full-details{display: none;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	div.less-details{display: block;}
	div.full-details{display: none;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	div.less-details{display: block;}
	div.full-details{display: none;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	div.less-details{display: none;}
	div.full-details{display: block;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	div.less-details{display: none;}
	div.full-details{display: block;}
} 