<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	
	<title>List Users</title>
	<link rel="icon" th:href="@{/img/favicon.ico}"  type="image/x-icon">
	
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/footerStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/dashboardStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/PNotify.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/BrightTheme.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/addPageStyle.css}">
	
</head>
<body>

	<nav class="navbar navbar-expand-lg sticky-top" style="background: #000;">

        <button type="button" id="sidebarCollapse" class="btn">
            <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" th:href="@{/admin/dashboard}">
			<img alt="MintShop" th:src="@{/img/MintShop.png}" width="28" height="24">
            <b style="color: deepskyblue; font-family: 'AbrilFatface', cursive; padding-left: 10px;">MintShop
            </b>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>
            
            <ul class="navbar-nav ms-auto me-4">
            
				<form class="d-flex me-4">
			        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			        <button class="btn btn-outline-primary" type="submit">Search</button>
			      </form>
			      
                <form th:action="@{/logout}" method="POST">
					<button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt" style="vertical-align: middle;"></i> Login</button>
				</form>
				
            </ul>
            
        </div>
    </nav>

	<div class="wrapper">
        
        <div th:replace="fragments/admin-sidebar :: admin-sidebar(null)"></div>

        <!-- Page Content  -->
        <div id="content">
		

            <!-- ************************************************************** -->
		   <div style="height: 100px"></div>
           <div class="container-fluid mt--7 container-edit">
		        <div class="row">
		            <div class="col-xl-2 order-xl-1"></div>
		            <div class="col-xl-8 order-xl-2">
		                <div class="card bg-secondary shadow">
		                    <div class="card-header bg-white border-0">
		                        <div class="row align-items-center">
		                            <div class="col-8">
		                                <h3 class="mb-0">Change Password</h3>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="card-body">
		                    
		                        <form th:action="@{/user/changePassword}" method="post" >
		                        
		                           
		                            <div class="pl-lg-4">
		                                <div class="row">
		                                    <div class="col-lg-12">
		                                        <div class="form-group focused">
		                                            <label class="form-label mt-4" for="input-username">Current Paswword</label>
		                                            <input type="password" id="input-username" class="form-control form-control-alternative" placeholder="Enter Current Password" name="currentPassword">
		                                            <div th:if="${wrongPassword != null}"><p class="fs-6 fw-light" style="color: red" th:text="${wrongPassword}"></p></div>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="row">
		                                    <div class="col-lg-12">
		                                        <div class="form-group focused">
		                                            <label class="form-label mt-4" for="input-username">New Paswword</label>
		                                            <input type="password" id="input-username" class="form-control form-control-alternative" placeholder="Enter New Password" name="newPassword">
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="row">
		                                    <div class="col-lg-12">
		                                        <div class="form-group focused">
		                                            <label class="form-label mt-4" for="input-username">Confirm New Paswword</label>
		                                            <input type="password" id="input-username" class="form-control form-control-alternative" placeholder="Re-type New Password" name="confirmNewPassword">
		                                            <div th:if="${notMatchedPassword != null}"><p class="fs-6 fw-light" style="color: red" th:text="${notMatchedPassword}"></p></div>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="row mt-4">
		                                    <div class="col-lg-12">
		                                        <div class="form-group focused">
		                                        	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
		                                        	<input type="hidden" th:value="${id}" name="id">
		                                            <input type="submit" class="btn btn-danger" value="Change Password" style="width: 100%">
		                                        </div>
		                                    </div>
		                                </div>
		                                
		                            </div>
		                           
		                        </form>
		                    </div>
		                </div>
		            </div>
		            <div class="col-xl-2 order-xl-3"></div>
		        </div>
		    </div>
  			

            <!-- ************************************************************** -->


        </div>

    </div>
	
	<div th:replace="fragments/footer :: footer"></div>
	
	<!-- Start Scroll To Top Section -->
    <div class="scroll-top">
        <i class="fas fa-chevron-up fa-3x scroll-icon"></i>
    </div>
	
	
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/chartjs/dist/chart.min.js}"></script>
	<script th:src="@{/js/admin-dashboard.js}"></script>
	<script th:src="@{/js/PNotify.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	
	<script>
    $(document).ready(function() {

        $('#sidebarCollapse').on('click', function() {
            $('#sidebar').toggleClass('active');
        });
        
        var userAdded = document.getElementById("userAdded");
        if(typeof(userAdded) != 'undefined' && userAdded != null){
        	showStackBarTop('success', "User Saved","User [[${message}]] Saved successfully.");
        }
        
        var errorMsg = "[[${errorMessage}]]";
        if(errorMsg != null && errorMsg != ''){
        	customeNotice("Error", errorMsg);
        }
        
    });

</script>
</body>
</html>