<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">

</head>
<body>
	
	<th:block th:fragment="content" th:remove="tag">
	
		<div class="col-lg-6 col-md-6 mt-2">
			<div class="single_crm ">
				<div class="crm_head bg-orange-1 d-flex align-items-center justify-content-between">
					<div class="thumb">
						<i class="fa fa-solid fa-sitemap"></i>
						<span class="fw-bold">Categories</span>
					</div>
				</div>
				<div class="crm_body">
					<span>All Categories: <b>[[${totalCategories}]]</b></span><br>
					<span>Root Categories: <b>[[${rootCategories}]]</b></span><br>
					<span>Enabled Categories: <b>[[${enabledCategories}]]</b></span><br>
					<span>Disabled Categories: <b>[[${disabledCategories}]]</b></span><br>
					<a th:href="@{/category/toAdd}" class="dash-link">Add Category</a><br>
					<a th:href="@{/category/list}" class="dash-link">View All</a><br>
				</div>
			</div>
		</div>
		
	</th:block>
	
</body>
</html>
