<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

</head>
<body>

	<th th:fragment="column-link(fieldName, columnLabel)">
		<a th:href="@{'/user/page/'+${currentPage}+'?sortField='+${fieldName}+'&sortDir='+${sortField != fieldName ? sortDir : revSortDir} +${keyword != null ? '&keyword='+keyword : ''}}">[[${columnLabel}]]</a>
		<span th:if="${sortField == fieldName}" th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
	</th>
	
	<a th:fragment="page-link(pageNum, label)" 
		class="page-link"
		th:href="@{'/user/page/'+${pageNum}+${'?sortField='+sortField+'&sortDir='+sortDir}+${keyword != null ? '&keyword='+keyword : ''}}">[[${label}]]</a>
		
	<a th:fragment="page-link-icon(pageNum, spanLabel, ariaLabel)" 
		class="page-link"
		th:href="@{'/user/page/'+${pageNum}+${'?sortField='+sortField+'&sortDir='+sortDir}+${keyword != null ? '&keyword='+keyword : ''}}" aria-label="${ariaLabel}"><span aria-hidden="true">[[${spanLabel}]]</span></a>

</body>
</html>
