<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	
	<title>List Orders</title>
	<link rel="icon" th:href="@{/img/favicon.ico}"  type="image/x-icon">
	
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/footerStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/dashboardStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/PNotify.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/BrightTheme.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/listStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/navbarStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/profile-dropdown.css}">
	
</head>
<body>

	<div th:replace="fragments/navbar :: navbarListPage()"></div>

	<div class="wrapper">
        
        <div th:replace="fragments/admin-sidebar :: admin-sidebar('/order/export')"></div>

        <!-- Page Content  -->
        <div id="content">
		
			<div th:if="${message != null}" id="orderAdded"></div>
			
		   
            <!-- ************************************************************** -->
			<div class="table-responsive">
	            <table class="table table-striped table-hover">
	  			<thead>
				    <tr class="table-dark">
				    
				      <th th:replace="fragments/column-link :: column-link-general('id', 'ID')"/>
				      <th th:replace="fragments/column-link :: column-link-general('customer', 'Customer')"></th>
				      <th th:replace="fragments/column-link :: column-link-general('total', 'Total')"></th>
				      <th th:replace="fragments/column-link :: column-link-general('orderTime', 'Order Time')"></th>
				      <th th:replace="fragments/column-link :: column-link-general('destination', 'Destination')"></th>
				      <th th:replace="fragments/column-link :: column-link-general('paymentMethod', 'Payment Method')"></th>
				      <th th:replace="fragments/column-link :: column-link-general('orderStatus', 'Order Status')"></th>
				      
				      <th>Details</th>
				      <th:block sec:authorize="hasAnyAuthority('Admin', 'Sales')">
				      <th>Edit</th>
				      </th:block>
				      
				      <th:block sec:authorize="hasAnyAuthority('Admin', 'Sales')">
				      	<th>Delete</th>
				      </th:block>
				      
				    </tr>
				  </thead>
				  <tbody>
				  	<tr th:each="order : ${orders}">
				   	  <td th:text="${order.id}"></td>
				     
				      <td>
				      	<a class="customer-link link-primary" th:href="@{'/customer/detail/'+${order.customer.id}}">[[${order.customer.fullName}]]</a>
				      </td>
				      
				      <td>
				      	<div th:replace="fragments/format :: format-currency(${order.total})"></div>
				      </td>
				      <td>
				      	<div th:replace="fragments/format :: format-time(${order.orderTime})"></div>
				      </td>
				      <td th:text="${order.destination}"></td>
				      <td th:text="${order.paymentMethod}"></td>
				      <td th:text="${order.orderStatus}"></td>

				      
				      <td><a class="order-link" th:href="@{'/order/detail/'+${order.id}}" title="View details of this Order"><i class="fas fa-file-alt" style="color: #0e634b"></i></a></td>
				      <th:block sec:authorize="hasAnyAuthority('Admin', 'Sales')">
				      <td><a th:href="@{'/order/edit/'+${order.id}}" title="Edit this order"><i class="fas fa-edit" style="color: #0e2c63"></i></a></td>
				      </th:block>
				      <th:block sec:authorize="hasAnyAuthority('Admin', 'Sales')">
				      <td><a th:href="@{'/order/delete/'+${order.id}}" title="Delete this order" class="delete-link" ><i class="fas fa-trash-alt" style="color: #6e1414"></i></a></td>
				      </th:block>
				     </tr>
				     
				  </tbody>
	  			</table>
  			</div>
  			
  			<div th:replace="fragments/pagination :: pagination('order')"></div>
  			
  			<!-- Delete Modal Confirm -->
			<div class="modal fade" id="confirmModel">
			  <div class="modal-dialog">
			    <div class="modal-content">
			    
			      <div class="modal-header modal-warn-header">
			        <h4 class="modal-title"><i class="fas fa-exclamation"></i> Delete Confirmation</h4>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      
			      <div class="modal-body">
			        <p>Are you sure you want to delete this order !</p>
			      </div>
			      
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
			        <a href="" class="btn btn-danger" id="deleteBtn">Delete</a>
			      </div>
			      
			    </div>
			  </div>
			</div>
			
			<!-- Customer Details Modal -->
			<div class="modal fade" id="detailsModel">
			  <div class="modal-dialog modal-xl">
			    <div class="modal-content">
			    
			      
			      
			    </div>
			  </div>
			</div>
  			 
  			 <!-- order details modal -->
  			 <div class="modal fade" id="orderDetailsModel">
			  <div class="modal-dialog modal-xl">
			    <div class="modal-content">
			    
			      
			      
			    </div>
			  </div>
			</div>

            <!-- ************************************************************** -->


        </div>

    </div>
	
	<div th:replace="fragments/footer :: footer"></div>
	
	<!-- Start Scroll To Top Section -->
    <div class="scroll-top">
        <i class="fas fa-chevron-up fa-3x scroll-icon"></i>
    </div>
	
	
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/chartjs/dist/chart.min.js}"></script>
	<script th:src="@{/js/admin-dashboard.js}"></script>
	<script th:src="@{/js/PNotify.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	
	<script>
	var customerModuleUrl = "[[@{/order}]]";
	
    $(document).ready(function() {

        $('#sidebarCollapse').on('click', function() {
            $('#sidebar').toggleClass('active');
        });
        
        var orderAdded = document.getElementById("orderAdded");
        if(typeof(orderAdded) != 'undefined' && orderAdded != null){
        	showStackBarTop('success', "Order Saved","Order [[${message}]] Saved successfully.");
        }
        
        var errorMsg = "[[${errorMessage}]]";
        if(errorMsg != null && errorMsg != ''){
        	customeNotice("Error", errorMsg);
        }
        
        var msgDelete = "[[${deleteMessag}]]";
        if(msgDelete != null && msgDelete != ''){
        	showStackBarTop('success', "Customer Deleted", msgDelete);
        }
        
        var errorMsgDelete = "[[${deleteErrorMessag}]]";
        if(errorMsgDelete != null && errorMsgDelete != ''){
        	customeNotice("Error", errorMsgDelete);
        }
        
        
        $(".delete-link").on("click", function(e){
        	e.preventDefault();
        	$("#deleteBtn").attr("href", $(this).attr("href"));
        	$("#confirmModel").modal('show');
        	
        });
        
        $(".customer-link").on("click", function(e){
        	e.preventDefault();
        	var linkUrl = $(this).attr("href");
        	$("#detailsModel").modal('show').find(".modal-content").load(linkUrl);
        });
        
        $(".order-link").on("click", function(e){
        	e.preventDefault();
        	var linkUrl = $(this).attr("href");
        	$("#orderDetailsModel").modal('show').find(".modal-content").load(linkUrl);
        });
        
        
    });

</script>
</body>
</html>