<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/head :: head(${categoryName})"></div>
	<!-- star rating css -->
	<link th:href="@{/rating-star/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
	<link th:href="@{/rating-star/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" type="text/css" />
</head>
<body class="d-flex flex-column min-vh-100">

	
	<div th:replace="fragments/navbar :: navbar-content"></div>
	
	<div class="wrapper m-2 min-vh-100">
	
		<!-- Page Content  -->
        <div id="content">
        
        	<div th:if="${categoryParents != null && !categoryParents.empty}">
        		<div class="row m-2">
        			<div class="col">
        				
						<nav aria-label="breadcrumb">
						  <ol class="breadcrumb">
						    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
						    <th:block th:each="parent : ${categoryParents}">
						    	<li class="breadcrumb-item"><a th:href="@{'/c/'+${parent.alias}}">[[${parent.name}]]</a></li>
						    </th:block>
						  </ol>
						</nav>
						
        			</div>
        		</div>
        	</div>
        	
        	<hr>
        	
        	<div class="row row-cols-sm-2 row-cols-md-4 row-cols-lg-6 text-center">
        		<th:block th:each="cat : ${category.children}">
        			<div class="col mb-3 ms-2" th:if="${cat.enabled == true}">
        				<a th:href="@{'/c/'+${cat.alias}}">
        					<img th:if="${cat.image} != null" th:src="@{${cat.imagePath}}" width="60%" />
							<i th:if="${cat.image == null}" class="fas fa-image" style="color: gray;font-size: 7vw;"></i>
							<div>[[${cat.name}]]</div>
        				</a>
        			</div>
        		</th:block>
        	</div>
        	
        	<hr>
        	
        	<div class="row row-cols-sm-2 row-cols-md-4 row-cols-lg-6 mt-2 ms-2" style="margin-bottom: 300px">
        		<th:block th:each="product, status : ${products}">
        			<div class="col mt-4">
        				<div>
							<img th:if="${product.image} != null" th:src="@{${product.imagePath}}"  width="90%"/>
							<i th:if="${product.image == null}" class="fas fa-image" style="color: gray;font-size: 12vw;"></i>
						</div>
						
						<a th:href="@{'/p/'+${product.alias}}"><b>[[${product.name}]]</b></a>
						<div><span class="text-secondary">[[${product.brand.name}]]</span></div>
						<div th:replace="product/product-price :: product-price"></div>
						
						<table>
							<tr>
								<td>
									<input class="rating-star text-center" type="text" th:value="${product.averageRating}">
								</td>
								<td>
									<span>([[${product.reviewCount}]])</span>
								</td>
							</tr>
						</table>
						
					</div>
        		</th:block>
        	</div>
        	
        	
       		<div th:replace="fragments/navigation :: navigation('Product')"></div>
        	
        </div>
		
	</div>

	<div th:replace="fragments/footer :: footer"></div>
	
	<!-- Start Scroll To Top Section -->
    <div class="scroll-top">
        <i class="fas fa-chevron-up fa-3x scroll-icon"></i>
    </div>
	
	
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	
	<!-- star rating js -->
	<script th:src="@{/rating-star/js/star-rating.js}" type="text/javascript"></script>
	<script th:src="@{/rating-star/themes/krajee-svg/theme.js}" type="text/javascript"></script>
	
	<script>
		var contextPath = "[[@{/}]]";
		
		$(document).ready(function() {
			
			$(".rating-star").rating({
				size: "xs",
				displayOnly: true,
				hoverOnClear: false,
				showCaption: false,
				theme: 'krajee-svg'
			});
		});
		
	</script>
</body>
</html>